workflows/01-hello-world.json
{
  "name": "01 - Hello World with Ollama",
  "nodes": [
    {
      "parameters": {},
      "id": "a0b1c2d3-e4f5-6789-a0b1-c2d3e4f56789",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "prompt": "=Hello! Please introduce yourself and explain what you can help with in 2-3 sentences.",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "b1c2d3e4-f5a6-789a-b1c2-d3e4f5a67890",
      "name": "Chat with Ollama",
      "type": "n8n-nodes-base.ollama",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "ollamaApi": {
          "id": "1",
          "name": "Ollama Local"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{ $json.text }}"
            },
            {
              "name": "model_used",
              "value": "={{ $json.model }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c2d3e4f5-a678-9ab1-c2d3-e4f5a6789abc",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Chat with Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat with Ollama": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "1",
  "meta": {
    "instanceId": "workshop-demo"
  },
  "tags": [
    {
      "name": "workshop",
      "id": "1"
    },
    {
      "name": "beginner",
      "id": "2"
    }
  ]
}
