workflows/01-hello-world.json
{
  "name": "01 - Hello World with Ollama",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [-180, 300],
      "id": "e65a44bb-ada9-4f5e-a7b2-8495323fab6f",
      "name": "When chat message received",
      "webhookId": "4be892dd-af32-46ca-8f78-365944d619fc",
      "notes": "TRIGGER: Chat interface trigger - type messages to interact with the AI"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [50, 300],
      "id": "6be9b9e6-a949-4709-87d9-3c8873d99f48",
      "name": "AI Agent",
      "notes": "AI AGENT: Orchestrates conversation flow and manages LLM interactions"
    },
    {
      "parameters": {
        "model": "llama3.2:1b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [-20, 540],
      "id": "571e833c-741f-4f46-9893-3d818f002452",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "1",
          "name": "Ollama Local"
        }
      },
      "notes": "AI PROCESSING: Uses local Ollama LLM (llama3.2:1b) for generating responses"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{ $json.text }}"
            },
            {
              "name": "model_used",
              "value": "={{ $json.model }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "229d1499-f80b-4927-9999-898e94c6bf4e",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [400, 300],
      "notes": "OUTPUT FORMATTING: Structures the AI response with metadata for display"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "1",
  "meta": {
    "instanceId": "workshop-demo",
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "workshop",
      "id": "1"
    },
    {
      "name": "beginner",
      "id": "2"
    }
  ],
  "pinData": {}
}
