workflows/03-calendar-assistant.json
{
  "name": "03 - Smart Calendar Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "schedule-meeting",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-001",
      "name": "Webhook - Schedule Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "schedule-meeting-webhook"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": "primary",
        "returnAll": false,
        "limit": 50,
        "options": {
          "timeMin": "={{ $now.startOf('day').toISO() }}",
          "timeMax": "={{ $now.plus({days: 7}).endOf('day').toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "calendar-get-events-001",
      "name": "Get This Week's Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1",
          "name": "Google Workshop Account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "=You are a smart calendar assistant. Analyze the following calendar and the meeting request, then suggest the best time slots.\n\nMeeting Request:\n- Title: {{ $json.body.title || 'Meeting' }}\n- Duration: {{ $json.body.duration || 60 }} minutes\n- Attendees: {{ $json.body.attendees || 'Not specified' }}\n- Preferences: {{ $json.body.preferences || 'None' }}\n\nExisting Calendar Events:\n{{ $('Get This Week\\'s Events').all().map(item => {\n  const start = item.json.start.dateTime || item.json.start.date;\n  const end = item.json.end.dateTime || item.json.end.date;\n  return `- ${item.json.summary}: ${start} to ${end}`;\n}).join('\\n') }}\n\nProvide a JSON response with:\n1. suggested_slots: Array of 3 best time slots (ISO format)\n2. reasoning: Why these slots are good\n3. conflicts: Any potential issues\n4. recommendation: Your top choice",
        "options": {
          "temperature": 0.4,
          "responseFormat": "json"
        }
      },
      "id": "ollama-analyze-calendar-001",
      "name": "AI Analyzes Calendar",
      "type": "n8n-nodes-base.ollama",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "ollamaApi": {
          "id": "1",
          "name": "Ollama Local"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "meeting_title",
              "value": "={{ $('Webhook - Schedule Request').item.json.body.title }}"
            },
            {
              "name": "suggested_slots",
              "value": "={{ $json.suggested_slots }}"
            },
            {
              "name": "ai_reasoning",
              "value": "={{ $json.reasoning }}"
            },
            {
              "name": "top_recommendation",
              "value": "={{ $json.recommendation }}"
            },
            {
              "name": "conflicts",
              "value": "={{ $json.conflicts || 'None' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-suggestions-001",
      "name": "Format Suggestions",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Webhook - Schedule Request').item.json.body.auto_schedule }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-auto-schedule-001",
      "name": "Auto-Schedule Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ $('AI Analyzes Calendar').item.json.recommendation }}",
        "end": "={{ $now.plus({minutes: $('Webhook - Schedule Request').item.json.body.duration || 60}).toISO() }}",
        "summary": "={{ $('Webhook - Schedule Request').item.json.body.title }}",
        "description": "=Automatically scheduled by AI Calendar Assistant\n\nAttendees: {{ $('Webhook - Schedule Request').item.json.body.attendees }}\nAI Reasoning: {{ $json.ai_reasoning }}",
        "options": {
          "sendUpdates": "all"
        }
      },
      "id": "calendar-create-event-001",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [1250, 250],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1",
          "name": "Google Workshop Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Meeting scheduled successfully\",\n  \"event_link\": $json.htmlLink,\n  \"scheduled_time\": $json.start.dateTime,\n  \"ai_reasoning\": $('Format Suggestions').item.json.ai_reasoning\n} }}",
        "options": {}
      },
      "id": "webhook-response-scheduled-001",
      "name": "Response - Scheduled",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Here are suggested time slots\",\n  \"suggestions\": $json.suggested_slots,\n  \"recommendation\": $json.top_recommendation,\n  \"reasoning\": $json.ai_reasoning,\n  \"conflicts\": $json.conflicts\n} }}",
        "options": {}
      },
      "id": "webhook-response-suggestions-001",
      "name": "Response - Suggestions Only",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 350]
    }
  ],
  "connections": {
    "Webhook - Schedule Request": {
      "main": [
        [
          {
            "node": "Get This Week's Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get This Week's Events": {
      "main": [
        [
          {
            "node": "AI Analyzes Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyzes Calendar": {
      "main": [
        [
          {
            "node": "Format Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Suggestions": {
      "main": [
        [
          {
            "node": "Auto-Schedule Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Schedule Enabled?": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Suggestions Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Response - Scheduled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "3",
  "meta": {
    "instanceId": "workshop-demo"
  },
  "tags": [
    {
      "name": "workshop",
      "id": "1"
    },
    {
      "name": "calendar",
      "id": "5"
    },
    {
      "name": "agent",
      "id": "4"
    }
  ]
}
