workflows/06-lead-scoring-crm.json
{
  "name": "06 - AI Lead Scoring & CRM Update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-001",
      "name": "Webhook - New Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "TRIGGER: Receives new lead data via webhook for scoring",
      "webhookId": "new-lead-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "lead_name",
              "value": "={{ $json.body.name }}"
            },
            {
              "name": "lead_email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "company",
              "value": "={{ $json.body.company }}"
            },
            {
              "name": "job_title",
              "value": "={{ $json.body.job_title }}"
            },
            {
              "name": "company_size",
              "value": "={{ $json.body.company_size }}"
            },
            {
              "name": "industry",
              "value": "={{ $json.body.industry }}"
            },
            {
              "name": "budget_range",
              "value": "={{ $json.body.budget_range }}"
            },
            {
              "name": "timeline",
              "value": "={{ $json.body.timeline }}"
            },
            {
              "name": "pain_points",
              "value": "={{ $json.body.pain_points }}"
            },
            {
              "name": "source",
              "value": "={{ $json.body.source || 'website' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-lead-data-001",
      "name": "Format Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300],
      "notes": "DATA FORMATTING: Extracts and structures lead information from webhook"
    },
    {
      "parameters": {
        "model": "llama3.2:1b",
        "prompt": "=You are a sales AI assistant specializing in lead qualification and scoring. Analyze this lead and provide a detailed JSON assessment.\n\nLead Information:\n- Name: {{ $json.lead_name }}\n- Email: {{ $json.lead_email }}\n- Company: {{ $json.company }}\n- Job Title: {{ $json.job_title }}\n- Company Size: {{ $json.company_size }}\n- Industry: {{ $json.industry }}\n- Budget Range: {{ $json.budget_range }}\n- Timeline: {{ $json.timeline }}\n- Pain Points: {{ $json.pain_points }}\n- Source: {{ $json.source }}\n\nProvide:\n1. lead_score: Integer 0-100 (likelihood to convert)\n2. qualification_status: One of (hot, warm, cold, disqualified)\n3. icp_match: Ideal Customer Profile match score 0-100\n4. urgency_score: Integer 0-10 (how soon they might buy)\n5. key_indicators: Array of positive signals you identified\n6. red_flags: Array of concerns or issues\n7. recommended_actions: Array of next steps for sales team\n8. assigned_priority: One of (p1_immediate, p2_high, p3_medium, p4_low)\n9. reasoning: Brief explanation of the score\n10. suggested_messaging: Tailored pitch angle based on pain points",
        "options": {
          "temperature": 0.4,
          "responseFormat": "json"
        }
      },
      "id": "ollama-score-lead-001",
      "name": "AI Scores Lead",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [650, 300],
      "notes": "AI SCORING: Analyzes lead data and generates qualification score with recommendations",
      "credentials": {
        "ollamaApi": {
          "id": "1",
          "name": "Ollama Local"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "lead_name",
              "value": "={{ $('Format Lead Data').item.json.lead_name }}"
            },
            {
              "name": "lead_email",
              "value": "={{ $('Format Lead Data').item.json.lead_email }}"
            },
            {
              "name": "company",
              "value": "={{ $('Format Lead Data').item.json.company }}"
            },
            {
              "name": "lead_score",
              "value": "={{ $json.lead_score }}"
            },
            {
              "name": "qualification_status",
              "value": "={{ $json.qualification_status }}"
            },
            {
              "name": "icp_match",
              "value": "={{ $json.icp_match }}"
            },
            {
              "name": "urgency_score",
              "value": "={{ $json.urgency_score }}"
            },
            {
              "name": "assigned_priority",
              "value": "={{ $json.assigned_priority }}"
            },
            {
              "name": "key_indicators",
              "value": "={{ JSON.stringify($json.key_indicators) }}"
            },
            {
              "name": "red_flags",
              "value": "={{ JSON.stringify($json.red_flags) }}"
            },
            {
              "name": "recommended_actions",
              "value": "={{ JSON.stringify($json.recommended_actions) }}"
            },
            {
              "name": "reasoning",
              "value": "={{ $json.reasoning }}"
            },
            {
              "name": "suggested_messaging",
              "value": "={{ $json.suggested_messaging }}"
            },
            {
              "name": "scored_at",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-lead-score-001",
      "name": "Merge Lead & Score Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [850, 300],
      "notes": "DATA MERGING: Combines original lead data with AI scoring results"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.lead_score }}",
              "operation": "largerEqual",
              "value2": 70
            }
          ]
        }
      },
      "id": "if-hot-lead-001",
      "name": "Hot Lead? (≥70)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300],
      "notes": "CONDITION: Routes high-scoring leads (≥70) for immediate attention"
    },
    {
      "parameters": {
        "operation": "append",
        "sheetName": "Hot Leads",
        "columns": {
          "mappings": [
            {
              "column": "Name",
              "value": "={{ $json.lead_name }}"
            },
            {
              "column": "Email",
              "value": "={{ $json.lead_email }}"
            },
            {
              "column": "Company",
              "value": "={{ $json.company }}"
            },
            {
              "column": "Score",
              "value": "={{ $json.lead_score }}"
            },
            {
              "column": "Status",
              "value": "={{ $json.qualification_status }}"
            },
            {
              "column": "Priority",
              "value": "={{ $json.assigned_priority }}"
            },
            {
              "column": "Key Indicators",
              "value": "={{ $json.key_indicators }}"
            },
            {
              "column": "Actions",
              "value": "={{ $json.recommended_actions }}"
            },
            {
              "column": "Messaging",
              "value": "={{ $json.suggested_messaging }}"
            },
            {
              "column": "Scored At",
              "value": "={{ $json.scored_at }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-hot-leads-001",
      "name": "Add to Hot Leads Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [1250, 200],
      "notes": "HOT LEADS TRACKING: Logs high-priority leads to dedicated sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Workshop Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "toEmail": "sales-team@example.com",
        "subject": "=🔥 HOT LEAD: {{ $json.lead_name }} from {{ $json.company }} (Score: {{ $json.lead_score }})",
        "message": "=HIGH PRIORITY LEAD ALERT\n\n=======================\nLEAD INFORMATION\n=======================\nName: {{ $json.lead_name }}\nEmail: {{ $json.lead_email }}\nCompany: {{ $json.company }}\nJob Title: {{ $('Format Lead Data').item.json.job_title }}\n\n=======================\nAI ANALYSIS\n=======================\nLead Score: {{ $json.lead_score }}/100\nQualification: {{ $json.qualification_status }}\nICP Match: {{ $json.icp_match }}%\nUrgency: {{ $json.urgency_score }}/10\nPriority: {{ $json.assigned_priority }}\n\n=======================\nKEY INDICATORS\n=======================\n{{ $json.key_indicators.map(i => '✓ ' + i).join('\\n') }}\n\n=======================\nRED FLAGS\n=======================\n{{ $json.red_flags && $json.red_flags.length > 0 ? $json.red_flags.map(f => '⚠ ' + f).join('\\n') : 'None identified' }}\n\n=======================\nRECOMMENDED ACTIONS\n=======================\n{{ $json.recommended_actions.map((a, i) => (i+1) + '. ' + a).join('\\n') }}\n\n=======================\nSUGGESTED MESSAGING\n=======================\n{{ $json.suggested_messaging }}\n\n=======================\nAI REASONING\n=======================\n{{ $json.reasoning }}\n\n=======================\nORIGINAL SUBMISSION\n=======================\nCompany Size: {{ $('Format Lead Data').item.json.company_size }}\nIndustry: {{ $('Format Lead Data').item.json.industry }}\nBudget Range: {{ $('Format Lead Data').item.json.budget_range }}\nTimeline: {{ $('Format Lead Data').item.json.timeline }}\nPain Points: {{ $('Format Lead Data').item.json.pain_points }}\nSource: {{ $('Format Lead Data').item.json.source }}\n\n🚀 Take action within 15 minutes for best conversion rates!",
        "options": {}
      },
      "id": "gmail-alert-hot-001",
      "name": "Alert Sales Team",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1450, 200],
      "notes": "SALES ALERT: Sends detailed email to sales team for hot leads",
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Google Workshop Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetName": "All Leads",
        "columns": {
          "mappings": [
            {
              "column": "Name",
              "value": "={{ $json.lead_name }}"
            },
            {
              "column": "Email",
              "value": "={{ $json.lead_email }}"
            },
            {
              "column": "Company",
              "value": "={{ $json.company }}"
            },
            {
              "column": "Score",
              "value": "={{ $json.lead_score }}"
            },
            {
              "column": "Status",
              "value": "={{ $json.qualification_status }}"
            },
            {
              "column": "ICP Match",
              "value": "={{ $json.icp_match }}"
            },
            {
              "column": "Urgency",
              "value": "={{ $json.urgency_score }}"
            },
            {
              "column": "Scored At",
              "value": "={{ $json.scored_at }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-all-leads-001",
      "name": "Log to All Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [1250, 400],
      "notes": "LEAD LOGGING: Records all leads with scores to master tracking sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Workshop Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"lead_score\": $json.lead_score,\n  \"qualification_status\": $json.qualification_status,\n  \"assigned_priority\": $json.assigned_priority,\n  \"is_hot_lead\": $json.lead_score >= 70,\n  \"recommended_actions\": $json.recommended_actions,\n  \"message\": \"Lead successfully scored and logged. \" + ($json.lead_score >= 70 ? \"Sales team has been notified of this hot lead!\" : \"Lead added to pipeline.\")\n} }}",
        "options": {}
      },
      "id": "webhook-response-001",
      "name": "Response to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300],
      "notes": "RESPONSE: Returns lead scoring results and next steps to requester"
    }
  ],
  "connections": {
    "Webhook - New Lead": {
      "main": [
        [
          {
            "node": "Format Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Lead Data": {
      "main": [
        [
          {
            "node": "AI Scores Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Scores Lead": {
      "main": [
        [
          {
            "node": "Merge Lead & Score Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Lead & Score Data": {
      "main": [
        [
          {
            "node": "Hot Lead? (≥70)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hot Lead? (≥70)": {
      "main": [
        [
          {
            "node": "Add to Hot Leads Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to All Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Hot Leads Sheet": {
      "main": [
        [
          {
            "node": "Alert Sales Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Sales Team": {
      "main": [
        [
          {
            "node": "Response to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to All Leads": {
      "main": [
        [
          {
            "node": "Response to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "6",
  "meta": {
    "instanceId": "workshop-demo",
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "workshop",
      "id": "1"
    },
    {
      "name": "sales",
      "id": "7"
    },
    {
      "name": "crm",
      "id": "8"
    }
  ],
  "pinData": {}
}
